In [61]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [62]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [63]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [64]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
juneobs = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==6).all()

In [65]:
#  3. Convert the June temperatures to a list.
june_temps = list((juneobs))

In [66]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['Date', 'June Temps'])
june_df.set_index(june_df['Date'], inplace=True)

In [67]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [68]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
decobs = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==12).all()

In [69]:
# 7. Convert the December temperatures to a list.
dec_temps = list((decobs))

In [70]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps, columns=['Date', 'December Temps'])
dec_df.set_index(dec_df['Date'], inplace=True)

In [71]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## D3: Additional Queries for June and December

In [72]:
# Write a query that filters the Measurement table to retrieve the
# temperature and percipitation observations for the month of June.
junetobsprcp = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date) ==6).all()

In [73]:
# Convert June temperature and precipitation observations to a list.
june_tobs_prcp = list((junetobsprcp))

In [74]:
# Create a DataFrame from the list of temperatures and precipitation for the month of June. 
june2_df = pd.DataFrame(june_prcp_tobs, columns=['Date', 'June Temps', 'June Precipitation',])
june2_df.set_index(june2_df['Date'], inplace=True)

In [75]:
# Clculate and print summary statistics for June temperature and precipitation observations.
june2_df.describe()

        June Temps  June Precipitation
count  1700.000000         1574.000000
mean     74.944118            0.136360
std       3.257417            0.335731
min      64.000000            0.000000
25%      73.000000            0.000000
50%      75.000000            0.020000
75%      77.000000            0.120000
max      85.000000            4.430000

In [76]:
# Write a query that filters the Measurement table to retrieve the
# percipitation and temperature observations for the month of December.
dectobsprcp = session.query(Measurement.date, Measurement.tobs, Measurement.prcp).\
    filter(extract('month', Measurement.date) ==12).all()

In [77]:
# Convert December temperature and precipitation observations to a list.
dec_tobs_prcp = list((dectobsprcp))

In [78]:
# Create a DataFrame from the list of temperatures and precipitation for the month of December.
dec2_df = pd.DataFrame(dec_tobs_prcp, columns=['Date', 'December Temps', 'December Precipitation'])
dec2_df.set_index(dec2_df['Date'], inplace=True)

In [79]:
# Clculate and print summary statistics for December temperature and precipitation observations.
dec2_df.describe()

       December Temps  December Precipitation
count     1517.000000             1405.000000
mean        71.041529                0.216819
std          3.745920                0.541399
min         56.000000                0.000000
25%         69.000000                0.000000
50%         71.000000                0.030000
75%         74.000000                0.150000
max         83.000000                6.420000